.root-layout{
    padding: 16px 64px;
    height: 100vh;
    display: flex;
    flex-direction: column;
  
    header {
      display: flex;
      align-items: center;
      justify-content: space-between;
  
      .logo {
        display: flex;
        align-items: center;
        font-weight: bold;
        gap: 8px;
  
        img {
          width: 32px;
          height: 32px;
        }

        span {
          background: linear-gradient(to right, #f8cf17, #e55571);
          background-clip: text;
          -webkit-background-clip: text;
          color: transparent;
        }
      }
    }
  
    main {
      flex: 1;
      overflow: hidden;
    }
  }