.chat-list {
  display: flex;
  flex-direction: column;
  height: 100%;

  hr {
    border: none;
    height: 2px;
    background-color: #ddd;
    opacity: 0.1;
    border-radius: 5px;
    margin: 20px 0px;
  }

  .title {
    font-weight: 800;
    font-size: 1rem;
    margin-bottom: 10px;
  }

  .list {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden; /* or auto */
  }

  .selected {
    background-color: #161d33;
    color: #fff;
  }

  a {
    padding: 10px;
    border-radius: 10px;

    &:hover {
      background-color: #161d33;
    }
  }

  .upgrade {
    margin-top: auto;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;

    img {
      width: 24px;
      height: 24px;
    }

    .texts {
      display: flex;
      flex-direction: column;

      span {
        &:first-child {
          font-weight: 600;
        }

        &:last-child {
          color: #888;
        }
      }
    }
  }
  .footer {
    font-weight: 200;
    color: #888;
  }
}